*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

.wrapper {
    max-width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1, h2 {
    margin: 30px 0;
    text-align: center;
}

.videoWrapper, .audioWrapper {
    margin: 0 auto;
    display: block;
}

.videoWrapper {
    //width: 852px;
    //height: 480px;

    width: 100%;
    height: 0;
    padding-bottom: 56%;

    video {
        width: 100%;
        height: 100%;
    }
}

.audioWrapper {
    width: 400px;
}

.mejs__container {
    margin: 0 auto;
}

.mejs-container{
    width: 100% !important;
    height: 100% !important;
}

.mejs-layers .mejs-layer{
    width: 100% !important;
    height: 100% !important;
}
